<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Global site tag (gtag.js) - Google Analytics -->
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body class="">

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Capstone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item text-white">
                    Log in
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="p-5 bg-primary ">
    <h1 class="display-4 text-center text-white mb-4"><u> A working title </u></h1>

    <div class="container">
        <div class="row">
            <div class="col order-last"></div>
            <div class="col-md-4">
                <p class="text-white text-center">
                    HEllo babou </p>
            </div>
            <div class="col order-first"></div>
        </div>
    </div>
</div>


<div class="m-5">
    <table class="table pr-6">
        <thead>
        <tr>
            <th scope="col" class="col-2 ">First</th>
            <th scope="col" class="col-8">Number</th>
            <th scope="col" class="col-2">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Sort
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Asc</a></li>
                        <li><a class="dropdown-item" href="#">Dsc</a></li>
                    </ul>
                </div>
            </th>
        </tr>
        </thead>
        <tbody id="renderHere">
        <tr>
            <td>Mark</td>
            <td>01</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>02</td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>03</td>
        </tr>
        </tbody>
    </table>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>
</html>
